apiVersion: v1
kind: Pod
metadata:
    name: mongodb
    labels: 
      app: mongodb
spec:
  containers:
    - name: mongodb
      image: mongo:7.0
      ports:
      - containerPort: 27017
      env:
      - name: MONGO_INITDB_DATABASE
        value: "contactsdb"
      